@charset "ISO-8859-1";
body{
	background-color:grey;
	color:brown;
	font-family Helvetica;
	font-size:12px;
	font-weight:normal; 
	line-height:1.6em;
	margin:0;
}

.box-1{
	background-color:orange;
	color:black;
	border:3px red solid;
}
